<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" action="/post">
        <input type="text" name="text1">
        <br>
        <input type="number" name="number1">
        <br>
        <input type="date" name="date1">
        <br>
        <input type="time" name="time1">
        <br>
        <input type="range" name="range1">
        <br>
        <h3>同じNameのフォームに値入れた場合</h3>
        <input type="text" name="test1">
        <input type="text" name="test1">

        <button type="submit">submit</button>
    </form>

    <hr>

    <form method="post" action="/post2" enctype="multipart/form-data">
        <input type="file" name="img" >

        <button type="submit">submit</button>
    </form>
</body>
</html>